---
import Header from '../components/Header.jsx';
import Layout from '../layouts/Layout.astro';
import carImg from '../../public/carImg.jpg';


const FirstLetterClasses = "first-letter:text-8xl first-letter:pr-4 first-letter:float-left first-letter:font-serif mb-8";

---

<Layout title="Welcome to Astro.">
	<Header />
	<div class="flex items-center justify-center">
		<div class="px-10  text-3xl w-11/12	 flex items-center justify-center flex-col">
			<h1 class=" text-6xl text-center font-bold mb-10 ">ABOUT THE ROVER CAR CLUB OF AUSTRALIA</h1>
			<div class="w-9/12 flex	align-center justify-center">
				<img src={carImg} alt="" class=" w-5/12	mb-8">
				
			</div>
			<div class="font-normal text-xl mb-4">
				<p class="lowercase	">
				<span class="uppercase">T</span>he Rover Car Club of Australia (RCCA), founded in 1964, is composed of approximately 250 members mainly from Victoria and Tasmania, owning Rovers from various models sold in Australia, including the P3, P4, P5, P6, SD1, SEII, Quintets, 416s, and 800 series, up until the Rover 75 and MGZT series. With a strong member base, the club ensures the availability of spare parts, and technical officers provide advice on car problems. The club is operated by volunteers, and liaisons with other Rover car clubs in Australia and overseas are maintained to ensure the stocking of otherwise unobtainable items.
				</p>
			</div>
		</div>
	</div>
</Layout>