---
import Header from '../components/Header.jsx';
import Layout from '../layouts/Layout.astro';
// import { FacebookShareButton, TwitterShareButton } from "react-share";

const contactus = 'str_akbari@yahoo.com'
const websiteUrl = "http://rovercarclubaust.asn.au";


const greeting: String = "Contact Us";
const emails = ["str_akbari@yahoo.com"];

---


<Layout title="Welcome to Astro.">
	<Header />
	<div>
		<div class="px-10 flex column justify-center">
			<div class="main-container w-1/8">
				<h1 class="my-16 text-center text-6xl uppercase sm:text-4xl leading-normal font-extrabold text-[#1C0A00] tracking-wide">Contact Us  </h1>
				
				<h2 class="font-bold mt-16">By Post</h2>
				<p class="mt-4 text-lg">
					Rover Car Club of Australia Inc <br>
					Please Note new Post Office Box: <br>
				</p>

				<p class="mt-4 text-lg font-bold">
					PO Box 6049 <br>
					WANTIRNA VIC 3152 <br>
				</p>
				
				<h2 class="font-bold mt-16">By Telephone</h2>

				<p class="mt-4 text-lg">
					All queries mobile phone no: 0431 858 582 (Within Australia) <br>
					Please be considerate of the time you call.<br>
					<br>
					<br>
				</p>



				<h2 class="font-bold mb-4">Email Details for Rover Car Club of Australia Inc</h2>

				<p class="mb-8">Please feel free to contact us for any inquiries and feedbacks:</p>
					<div class="Emails mb-8 flex flex-wrap">
						<a class="px-6 py-2 mt-4 text-white bg-[#361500] rounded-lg hover:bg-[#1C0A00] mr-4" href={"mailto:"+contactus}>Contact Us</a>	

					</div>	
				

				
			</div>
		</div>
	</div>
</Layout>