---
import Header from '../components/Header.jsx';
import Layout from '../layouts/Layout.astro';
import { BsFillTelephoneFill } from "react-icons/bs";
import { MdEmail } from "react-icons/md";

const contactusemail = 'str_akbari@yahoo.com'
const contactusphone = '+61426534538'
const websiteUrl = "http://rovercarclubaust.asn.au";
const greeting: String = "Contact Us";
const emails = ["str_akbari@yahoo.com"];
---

<Layout title="Contact Us">
	<Header />
	<div>
		<div class="px-10 flex column justify-center">
			<div class="main-container w-1/8">
				<h1 class="text-6xl text-center font-bold my-10">Contact Us</h1>
				
				<h2 class="font-bold mt-16">By Post</h2>
				<p class="mt-4 text-lg">
					Rover Car Club of Australia Inc new Post Office Box: <br>
					PO Box 6049 <br>
					WANTIRNA VIC 3152 <br>
					<br><br>
				</p>

				<p class="mb-4">Please feel free to contact us for any inquiries and feedbacks below!</p>

				<div class="mb-8 flex flex-wrap justify-center">
					<a class="px-6 py-2 mt-4 text-white bg-[#361500] rounded-lg hover:bg-[#1C0A00] mr-4" href={"mailto:"+contactusemail}>
					<MdEmail className="inline-block mr-2" /> Contact Us
					</a>	
					<a class="px-6 py-2 mt-4 text-white bg-[#361500] rounded-lg hover:bg-[#1C0A00] mr-4" href={"tel:"+contactusphone}>
					<BsFillTelephoneFill className="inline-block mr-2" /> Contact Us
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>