---
import Header from '../components/Header.jsx';
import ApprovalTable from '../components/ApprovalTable.jsx';
import Test from '../components/Test';
import TestFetch from '../components/TestFetch';
import Layout from '../layouts/Layout.astro';
import StickyHeadTable from '../components/Test';
import SearchBar from '../components/SearchBar.jsx';
const greeting: String = "Hello World";

---

<Layout title="Welcome to RCCA">
	<Header client:load/>
	<div>
		<SearchBar client:load/>
	</div>
</Layout>
