---
import Test from '../components/Test';
import TestFetch from '../components/TestFetch';
import Layout from '../layouts/Layout.astro';

const greeting: String = "Hello World";


---

<Layout title="Welcome to Astro.">
	<div>
		<div class="px-10 text-3xl">
		<h1>{greeting}</h1>
		<h1>Welcome to TIP - 2023</h1>
		<Test client:load/>
		<TestFetch client:load/>
		</div>
	</div>
</Layout>


