---
import Header from '../components/Header.jsx';
import Layout from '../layouts/Layout.astro';
import LoginForm from "../components/signin.jsx";

---

<Layout title="Welcome to RCCA">
    <Header />
      <div>
        <LoginForm client:load/>
      </div>
</Layout>