---
import Header from '../components/Header';
import Test from '../components/Test';

---
<!-- DONT' DELETE THIS FILE, I USE FOR TEST DATA -->

	<div>
        <Header />
        <Test client:load />
        <!-- <DialogTest client:load/> -->
	</div>
   
