---
import Header from '../components/Header';
import LoginTemplate from '../components/LoginTemplate';
import Test from '../components/Test';

---
<!-- DONT' DELETE THIS FILE, I USE FOR TEST DATA -->

	<div>
        <Header />
        <!-- <LoginTemplate /> -->
        <!-- <Test client:load /> -->
        <!-- <DialogTest client:load/> -->
	</div>
   
