---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Upload from '../components/Upload';
---

<Layout title="Upload">
	<Header />
	<div>
        <Upload client:load/>
	</div>
</Layout>